SECRET_KEY=nVNIojApfLuDaQTvcXbn7l5BcQblIPw6HXyU3xLhMg0
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
TIME_ZONE=Asia/Kolkata

DB_NAME=property_management
DB_USER=avadh
DB_PASSWORD=avadh
DB_HOST=localhost
DB_PORT=5432
